<% include header %>
<style>
    h3 {
        width: 14em;
        padding: .3em;
    }
    .text {
        font-size: 1em;
        padding: .6em;
    }
    .tip {
        margin-left: 12px;
        padding: .3em;
        display: inline-block;
    }
    .list table th{
        border-width:0px 1px 0px 0px;
        font-size:1.2em;
        line-height:2em;
    }
    .list table td{
        border-width:0px 1px 1px 0px;
        font-size: 1em;
        line-height: 1em;
        overflow: hidden;
    }
    .ui-tooltip {
        max-width: 1200px;
        word-break: break-all;
    }
</style>
<div class="fullScreen">
    <h2 class="ptb hd ui-widget-content">新建广告位</h2>
    <div class="plr ptb">
        <h3 class="fl">广告位名称</h3>
        <% if(typeof adbox !== 'undefined' ){%>
        <input class="text large fl ui-widget-content ui-corner-all" id="ggwTitle" value="<%=adbox[0]["name"]%>" placeholder="不超过80个汉字">
        <% }else{ %>
        <input class="text large fl ui-widget-content ui-corner-all" id="ggwTitle" value="" placeholder="不超过80个汉字">
        <% } %>
        <span class="tip clear">* 不超过80个汉字</span>
    </div>
    <div class="plr ptb">
        <h3 class="fl">广告位分类</h3>
        <p class="fl">
            <select class="selectmenu long" id="ggwLei" style="display: none;">
                <% for(var i=0;i<categoryList.length;i++){%>
                 <%  if(typeof adbox !== 'undefined' ){ if(adbox[0]["catId"]==categoryList[i]['id']){  %>
                   <option selected value="<%=categoryList[i]['id']%>">
                    <%=categoryList[i]['name']%></option>
                 <% }else{ %>
                  <option  value="<%=categoryList[i]['id']%> ">
                    <%=categoryList[i]['name']%></option>
                 <% } }else {%>
                    <option  value="<%=categoryList[i]['id']%> ">
                    <%=categoryList[i]['name']%></option>
                 <%} %>
                <% } %></select>
        </p>
        <span class="tip clear">&nbsp;</span>
    </div>
    <div class="plr ptb" style="overflow:hidden">
        <h3 class="fl">所有广告</h3>
        <div class="list fl" id="xzgg">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ui-widget-content" style="border-width:1px 0px 0px 1px;">
                <tbody>
                    <tr>
                        <th class="ui-widget-header" scope="col" style="width: 4.8em;">操作</th>
                        <th class="ui-widget-header" scope="col" style="width: 4em;">编号</th>
                        <th class="ui-widget-header" scope="col" style="width: 18em;">广告名称（停留查看代码/点击预览）</th>
                        <th class="ui-widget-header" scope="col" style="width: 8em;">分类</th>
                        <th class="ui-widget-header" scope="col" style="width: 8em;">最后修改时间</th>
                    </tr>
                    <%if(typeof curAdvList !== 'undefined' ){ %>
                    <% for(var i=0;i<curAdvList.length;i++) {%>
                        <tr data-id="33 " data-catid="62 " style="display: table-row;">
                            <td class="ui-widget-content tc">
                                <button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only delselectgg" role="button">
                                    <span class="ui-button-text">移除</span>
                            </button>
                            </td>
                            <td class="ui-widget-content tc"><%=curAdvList[i]["id"]%></td>
                            <td class="ui-widget-content plr">
                                <%=curAdvList[i]["name"]%>
                            <div style="display:none" class="html"><%=curAdvList[i]["html"]%></div>
                            <div style="display:none" class="js"><%=curAdvList[i]["js"]%></div>
                            <div style="display:none" class="css"><%=curAdvList[i]["css"]%></div>
                        </td>

                        <td class="ui-widget-content plr">
                           <%=curAdvList[i]["catName"]%>
                        </td>
                        <td class="ui-widget-content plr" style="text-align:center">
                           <%=curAdvList[i]["time"]%>
                        </td>
                        </tr>
                    <% } }%>
                </tbody>
            </table>
        </div>
        <span class="tip clear"></span>
    </div>
    <div class="plr ptb" style="margin-top:60px;">
        <h3 class="fl">&nbsp;</h3>
        <div class="fl">
            <div class="list" id="listgg">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ui-widget-content" style="border-width:0px 0px 0px 1px;">
                    <tbody>
                        <tr>
                            <th class="ui-widget-header" scope="col" style="width: 4.8em;">操作</th>
                            <th class="ui-widget-header" scope="col" style="width: 4em;">编号</th>
                            <th class="ui-widget-header" scope="col" style="width: 18em;">广告名称（停留查看代码/点击预览）</th>
                            <th class="ui-widget-header" scope="col" style="width: 8em;">分类</th>
                            <th class="ui-widget-header" scope="col" style="width: 8em;">最后修改时间</th>
                        </tr>
                        <% for(var i=0;i<advList.length;i++) {%>
                        <tr data-id="<%=advList[i]["id"]%>
                            " data-catId="
                            <%=advList[i]["catId"]%>
                            ">
                            <td class="ui-widget-content tc">
                                <button type="button" class="button selectgg ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ">
                                    <span class="ui-button-text">选择</span>
                                </button>
                            </td>
                            <td class="ui-widget-content tc">
                                <%=advList[i]["id"]%></td>
                            <td class="ui-widget-content plr">
                                    <%=advList[i]["name"]%>
                                <div style="display:none" class="html">
                                    <%=advList[i]["html"]%></div>
                                <div style="display:none" class="js">
                                    <%=advList[i]["js"]%></div>
                                <div style="display:none" class="css">
                                    <%=advList[i]["css"]%></div>
                            </td>

                            <td class="ui-widget-content plr">
                                    <%=advList[i]["catName"]%>
                            </td>
                            <td class="ui-widget-content plr" style="text-align:center">
                                    <%=advList[i]["time"]%>
                            </td>
                        </tr>
                        <% } %></tbody>
                </table>
                <div class="ui-widget-content ui-corner-bottom tc" style="border-top-width:0; padding:.2em .2em; line-height: 1em;">
                    <select class="selectmenu long" id="ggwBox" style="display: none;">
                        <option value="all">所有</option>
                        <% for(var i=0;i<categoryList1.length;i++){%>
                        <option value="<%=categoryList1[i]['id']%>
                            ">
                            <%=categoryList1[i]['name']%></option>
                        <% } %></select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="ptb hd ui-widget-content"></div>
    <div class="plr ptb">
        <h3 class="fl"></h3>
        <% if(typeof adbox !== 'undefined' ){%>
        <button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="updateg" role="button">
            <span class="ui-button-text">完 成</span>
        </button>
        <input type="hidden" id="id" name="" value="<%=id%>">
        <input type="hidden" id="adId" value="<%=adbox[0]["adId"]%>">
        <%}else{%>
          <button type="button" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="submitg" role="button">
              <span class="ui-button-text">完 成</span>
          </button>
        <%}%>
    </div>
</div>
<script src="/javascripts/layer/layer.js" type="text/javascript" charset="utf-8" ></script>
<script src="/javascripts/app/addAdBox.js" type="text/javascript" charset="utf-8" async defer></script>
<% include footer %>